<template id="notifications"></template>

<section id="setup" class="join dark flexrow">
    <header id="world-title" class="join-header app">
        <h1>{{ world.title }}</h1>
    </header>

    <section class="join-body flexrow">
        <div class="left flexcol">
            <form id="join-form" class="app" autocomplete="off">
                <h1>Join Game Session</h1>

                {{#if auths.access_key.enabled}}
                    <div class="form-group split">
                        <label><i class="fas fa-user"></i> Select Player</label>
                        <select name="userid" required>
                            <option value=""></option>
                            {{#each users}}
                                <option value="{{this._id}}" {{#if this.active}}disabled{{/if}}>{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>

                    <div class="form-group split">
                        <label><i class="fas fa-key"></i> Access Key</label>
                        <input type="password" name="password" placeholder="Access Key" value="" autocomplete="off"/>
                    </div>

                    <button type="submit" name="submit" data-action="join" disabled>
                        <i class="fas fa-check"></i> Join Game Session
                    </button>
                {{/if}}

                {{#if auths.oauth_discord.enabled}}
                    <button type="button" name="oauth_generic">
                        <i class="fab fa-discord"></i> Login with Discord
                    </button>
                {{/if}}
            </form>

            <form id="shutdown" class="app" autocomplete="off">
                <h1>Return to Setup</h1>
                <div class="form-group">
                    <label><i class="fas fa-key"></i> Admin Access Key</label>
                    <input type="password" name="adminKey" value="" autocomplete="off">
                </div>
                <button type="submit" name="submit" data-action="shutdown" disabled>
                    <i class="fas fa-lock"></i> Return to Setup
                </button>
            </form>
        </div>

        <div class="right flexcol">
            <div id="world-description" class="app">
                <h1>World Description</h1>
                {{{ world.description }}}
            </div>
        </div>
    </section>
</section>

<script type="text/javascript">
    window.addEventListener("DOMContentLoaded", async function() {
        const forms = document.querySelectorAll("form");
        for ( let form of forms ) {
            form.submit.disabled = false;
            form.addEventListener("submit", async event => {
                event.preventDefault();

                // Disable the button and collect form data
                const form = event.target;
                form.submit.disabled = true;
                const formData = new FormData(form);
                formData.set("action", form.submit.dataset.action);

                // Submit a POST request to the server
                const response = await fetch('/join', {
                    method: "POST",
                    body: formData
                }).then(r => r.json());

                // Redirect on success
                if ( response.status === "success" ) {
                    ui.notifications.info(game.i18n.localize(response.message));
                    setTimeout(() => window.location.href = response.redirect, 500 );
                }

                // Notify on failure
                else if ( response.status === "failed" ) {
                    ui.notifications.error(game.i18n.localize(response.error ?? response.message));
                    form.submit.disabled = false;
                }
            })
        }
    }, {once: true, passive: true});

    (function() {
        Hooks.on('oauth-discord', async (access_token, refresh_token, popup_window) => {
            localStorage.setItem('oauth.discord.access_token', access_token);
            localStorage.setItem('oauth.discord.refresh_token', refresh_token);
            popup_window.close();
            window.location.href = getRoute("game");
        });

        $('button[name="oauth_generic"]').click(function (event) {
            event.preventDefault();

            const width = 500;
            const height = 750;

            const screenLeft = window.screenLeft !== undefined ? window.screenLeft : window.screenX;
            const screenTop = window.screenTop !== undefined ? window.screenTop : window.screenY;
            const screenWidth = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width;
            const screenHeight = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height;

            const left = (screenWidth - width) / 2 + screenLeft
            const top = (screenHeight - height) / 2 + screenTop

            window.open(
                    "https://discord.com/api/oauth2/authorize?client_id={{auths.oauth_discord.client_id}}&redirect_uri={{auths.oauth_discord.redirect_uri}}&response_type=code&scope={{auths.oauth_discord.scopes}}",
                    "Authorization",
                    `width=${width},height=${height},top=${top},left=${left}`
            );
        });
    })();
</script>
